# This folder contains scripts that were used to send Ansys Fluent jobs to be computed in parallel over a supercomputer. Hopefully this will aid in future research identifying a first step in their own efforts to simulation supercritical fluids in using a supercomputing technique
